[Unit]
Description=EduBot Robot Dashboard
After=network-online.target NetworkManager.service
Wants=network-online.target

[Service]
User=rock
WorkingDirectory=/home/rock/edubot-docs/ros_control_ws
ExecStart=/bin/bash -c "source /opt/ros/jazzy/setup.bash && source install/setup.bash && ros2 run my_robot robot_dashboard"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
